<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo</title>
    <!--css já feito pelo curso-->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="wrapper">
        <h1>TODO.LIST</h1>
        <div id="form-wrapper">
          <div id="o-form">
            <!--o item do input será salvo na função data'  -->
            <input
              type="text"
              id="text-novo-item"
              v-model="textoNovoItem"
              @keyup.enter="salvarNovoItem"
              maxlength="20"
            />
            <div>
              <input
                type="checkbox"
                id="is-importante"
                v-model="novoItemImportante"
              />
              <label for="is-importante"> Importante</label><br />
            </div>
            <button @click="salvarNovoItem" v-if="textoNovoItem.length > 0">
              Salvar
            </button>
          </div>
          <p id="contagem">{{qtdeDigitada}}/20</p>
        </div>

        <div id="list-wrapper">
          <!--v-for é usado para renderizar uma lista baseado em uma array-->
          <div
            class="item"
            v-bind:class="{importante : item.importante, feito: item.feito}"
            v-for="item in lista"
            v-on:click="item.feito = !item.feito"
          >
            <p class="texto-item" v-text="item.texto"></p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        methods: {
          //função que armazena os atributos
          salvarNovoItem() {
            if (this.textoNovoItem.length > 0) {
              let novoitem = {
                //usar getTime é bom para um id de lista pq sempre será um valor diferente
                id: new Date().getTime,
                texto: this.textoNovoItem,
                importante: this.novoItemImportante,
                feito: false,
              };
              this.lista.push(novoitem);
              this.textoNovoItem = "";
              this.novoItemImportante = false;
            }
          },
        },

        //nova instância do Vue
        data() {
          //objeto retornando data
          //para cada item da lista, é necessário um div
          //função que retorna os atributos
          return {
            textoNovoItem: "",
            novoItemImportante: false,
            lista: [
              {
                texto: "Item importante",
                importante: true,
                feito: false,
              },
              {
                texto: "Item feito",
                importante: true,
                feito: true,
              },

              {
                texto: "Item a fazer",
                importante: false,
                feito: false,
              },
            ],
          };
        },
        computer: {
          qtdeDigitada() {
            return this.textoNovoItem.length;
          },
        },
      }).mount("#app");
      //montada do div app
    </script>
  </body>
</html>
